body{
	width:60%;
	margin:auto;

}

/* Header formating*/
header {
	background-color: #5B191A;
}


/* Top News Headline */
.news {
	background-color: #C4C4C4;
	font-size:1.5em;

}

.content {
	width:90%;
	margin:auto;
}

.row1 {
	height:10%;
	display:flex;
	flex-direction: row wrap;
	justify-content: space-between;
	text-align: center;
}

.container3 {
	display:flex;
}



.botrow {
	display:flex;
	flex-flow: row wrap;
	text-align: center;
	justify-content:space-between;
	width:80%;
}

.card1 {
	width:30%;
	background-color:#0E0D0D;
	color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.cardtext {
	padding:3%;
}

.fswd {
	width:100%;
	height:100%;
	margin-top:2%;
}

.cfwd {
	width:100%;
	height:100%;
	margin-top:2%;

}


.imgrow1 {
	width:100%;
}

.imgbotrow {
	width: 100%;
}

.headerlogo {
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 1%;

}

.headerbanner {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.cf {
	

}

.card2 {
	width:45%;
	background-color:#0E0D0D;
	color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	align-self: flex-start;

}



footer {
	background-color:black;
	width:100%;
	margin-top: 5%;
	padding:1%;
	margin-bottom:5%;
}

nav {
	padding:1%;
	display:flex;
	background-color:black;
}

.navbartop {
	color:white;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 700;
	margin-right: 2em;
}

.navbarbot {
	color:white;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 700;
	margin-right: 2em;
}



.container2 {
	float:right;
}



.date {
	text-align: right;
	padding-right: 4%;
}

.developer {
	text-align: center;
	margin:2%;
}

.devimg {
	width:80%;
}

.headerimages {
	display:flex;
	justify-content:space-around;
	padding-top:1%;
	padding-bottom:1%;
}

.headercont1 {


}

.newsimage2 {

	text-align: right;
	margin-right:2%;
}

.footertext {
	color:white;
	text-align: center;
	font-size: 1.5em;
}

.newsimage {
	text-align: right;
}

.newsimage2 {
	width:25%;
}

.newstext{
	padding:0.5em;
}


.cflogo {
	height:100%;
	width:100%;
	
}
.testing {
	display:flex;
	justify-content:space-between;
	flex-direction:flex-start;

}

.container3 {
			display:flex;
			justify-content:space-between;


			}



/*Media Querys*/


@media screen and (max-width:480px) {

					


						.headerbanner {
							display:none;
						}
						.headerlogo {
							padding: 10% 20% 10% 0%;
							text-align: left;

						}

						nav {
							padding:2% 10% 2% 10%;
						}


						.navbartop {
							margin:auto;
							font-size:1em;
							font-weight:500;

						}

						.date {

							display:none;
						}

						.card1 {
							width:45%;
							padding:2 2 1 2;
							margin-top:5%;
						}

						.card2 {
							width:45%;
							margin:2%;
							margin-top:5%;

						}

						
						.hidden1 {
							width:45%;
							margin-top:4%;
						}

						.row1 {
							justify-content:space-around;
							flex-flow:row wrap;
						}

						.botrow {
							justify-content:space-around;
							margin-top:5%;
							width:100%;
						}
						.cardtext {
							font-size:0.75em;

						}

						.developer {
							display:none;
						}

						.cf {
							display:none;

						}
						.newstext {
							font-size:0.75em;
						}

						.footertext {
							font-size:0.75em;
							padding: 2em;
						}

						.navbarbot {
							display:flex;
							flex-flow:row;
							font-size:0.75em;
							padding-top:5%;
							font-weight:500;
							margin:auto;
						}

						.newsimage2 {
							padding-top: 5%;
							width:60%;
						}

						.newsimage{
							text-align: center;
						}
						.container3 {
							width:100%;
						}



}

@media screen and (min-width:481px) {


	.hidden1 {
		display: none;
	}

	.hidden2 {
		display:none;
	}
}

